<!-- Move_base configuration with amcl and computed map, test with second bag -->

<launch>  
	<arg name="DEBUG"           default="true"/>
  	<param name="/use_sim_time" value="true"/>

  	<!--  ****** Static TF ***** -->
  	<node name="tf_static_world2map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map camera_odom_frame 10"/>

  	<!--  ****** Cloud2Scan ***** -->
  	<include file="$(find second_project)/launch/pointCloud2LaserScan.xml"/>
  
  	<!--  ****** IMU data fusion ***** -->
  	<include file="$(find second_project)/launch/EKF_DataFusion.xml"/>

  	<!--  ****** Maps *****  -->
  	<node name="map_server" pkg="map_server" type="map_server" args="$(find second_project)/map/visual/firstBag_IMU.yaml"/>
   
  	<!--  ****** Amcl *****  -->
  	<include file="$(find second_project)/launch/amcl/amcl_config.xml"/>
  
  	<!-- *Spread particles in Amcl* -->
  	<node pkg="rosservice" type="rosservice" name="particle_spread" args="call /global_localization --wait"/>

  	<!--  ****** RViz config ******* -->
  	<group if="$(arg DEBUG)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find second_project)/rviz/amcl_test.rviz"/>
    </group>
 
 	

</launch>
